<p>profile page</p>
<p> <%= image_tag @admin.image.url(:medium), class: "circle" %></p>
<p><%= @admin.first_name %> <%= @admin.last_name %></p>
<p>Email: <%= @admin.email %></p>
<p>Date Joined: <%= @admin.created_at.strftime("%B").to_s + " " + @admin.created_at.year.to_s %> </p>
<%= button_to "Edit Profile", (edit_admin_registration_path), method:'get', class: "btn" %>
