<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 class="center-align">Add to Portfolio</h1>
      <hr class="hr-gray">
    </div>
  </div>
  <div class="container-fluid">
    <%= form_for @post, :url => {:controller => "portfolio"} do |f| %>
    <div class="row">
      <div class="col s6">
        Title*: <%= f.text_field :title, :required => true, autofocus: true %>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        Description*: <%= f.text_area :description, :required => true %>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        Main Content Photo*: <%= f.file_field :image, :required => true %>
      </div>
      <div class="col s12 m6">
        Additional Photos: <%= file_field_tag "images[]", type: :file, multiple: true %>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <%= f.submit "Submit", class: "btn" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
