<div class="container">
  <h1 class="center-align"><%= @post.title %></h1>
  <hr class="hr-gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col s12 pos-rel">
        <p><b>Designed: </b><%= @post.created_at.strftime("%B").to_s + " " + @post.created_at.year.to_s %> </p>
        <p><b>Description: </b><%= @post.description %></p>
        <% if current_admin %>
          <%= link_to(edit_portfolio_path(@post.slug), class: "btn-floating btn-medium top right") do  %>
            <i class="large material-icons">mode_edit</i>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <%= image_tag @post.image.url(:medium), class: "profile-image materialboxed" %>
      </div>
      <% @postimages.each do |postimage| %>
      <div class="col s12 m4">
        <%= image_tag postimage.image.url(:medium), class: "profile-image materialboxed" %>
      </div>
      <% end %>
      </div>
  </div>
</div>
