<!DOCTYPE html>
<html>
  <head>
    <title>BrandingSite</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Cinzel" rel="stylesheet">

  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <%=link_to "HC DESIGNS BY", root_path %>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><%=link_to "SERVICES", services_path %></li>
            <li><%=link_to "PORTFOLIO", portfolio_index_path %></li>
            <li><%=link_to "INSPIRATION", inspiration_path %></li>
            <li><%=link_to "ABOUT", about_path %></li>
            <li><%=link_to "CONTACT", contact_path %></li>
            <!-- Dropdown Trigger -->
            <% if current_admin %>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">DESIGNER TOOLS<i class="material-icons right">arrow_drop_down</i></a></li>
            <ul id="dropdown1" class="dropdown-content">
              <li><%=link_to "PROFILE", admin_path(current_admin) %></li>
              <li class="divider"></li>
              <li><%=link_to "CREATE", new_portfolio_path %></li>
              <li class="divider"></li>
              <li><%= link_to('Logout', destroy_admin_session_path, method: :delete) %></li>
            </ul>
            <% end %>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <% if current_admin %>
              <li><%=link_to "PROFILE", admin_path(current_admin) %></li>
              <li><%=link_to "CREATE", new_portfolio_path %></li>
            <% end %>
              <li><%=link_to "SERVICES", services_path %></li>
              <li><%=link_to "PORTFOLIO", portfolio_index_path %></li>
              <li><%=link_to "INSPIRATION", inspiration_path %></li>
              <li><%=link_to "ABOUT", about_path %></li>
              <li><%=link_to "CONTACT", contact_path %></li>
            <% if current_admin %>
              <li><%= link_to('Logout', destroy_admin_session_path, method: :delete) %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
    <%= yield %>
        <footer style="border: blue solid 2px">
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="right" href="#!">CONTACT</a>
            </div>
          </div>
        </footer>
  </body>
</html>
