<!DOCTYPE html>
<html>
  <head>
    <title>BrandingSite</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Cinzel" rel="stylesheet">
    <script src="https://use.typekit.net/jqx5xwl.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/relative/path/to/file.ico" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Merriweather+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">

  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <%=link_to "HC DESIGNS BY", root_path, class: "heading-logo" %>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><%=link_to "SERVICES", services_path %></li>
            <li><%=link_to "PORTFOLIO", portfolio_index_path %></li>
            <li><%=link_to "INSPIRATION", inspiration_path %></li>
            <li><%=link_to "ABOUT", about_path %></li>
            <li><%=link_to "CONTACT", contact_path %></li>
            <!-- Dropdown Trigger -->
            <% if current_admin %>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">DESIGNER TOOLS<i class="material-icons right">arrow_drop_down</i></a></li>
            <ul id="dropdown1" class="dropdown-content">
              <li><%=link_to "PROFILE", admin_path(current_admin) %></li>
              <li class="divider"></li>
              <li><%=link_to "EDIT PROFILE", edit_admin_registration_path %></li>
              <li class="divider"></li>
              <li><%=link_to "CREATE", new_portfolio_path %></li>
              <li class="divider"></li>
              <li><%= link_to('Logout', destroy_admin_session_path, method: :delete) %></li>
            </ul>
            <% end %>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <% if current_admin %>
              <li><%=link_to "PROFILE", admin_path(current_admin) %></li>
              <li><%=link_to "CREATE", new_portfolio_path %></li>
            <% end %>
              <li><%=link_to "SERVICES", services_path %></li>
              <li><%=link_to "PORTFOLIO", portfolio_index_path %></li>
              <li><%=link_to "INSPIRATION", inspiration_path %></li>
              <li><%=link_to "ABOUT", about_path %></li>
              <li><%=link_to "CONTACT", contact_path %></li>
            <% if current_admin %>
              <li><%= link_to('Logout', destroy_admin_session_path, method: :delete) %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>

  <%= stylesheet_link_tag %>

  <%= yield(:head) %>
  <div class="col s8">
    <% flash.each do |name, msg| %>
    <div id='toast-container'>
      <%= javascript_tag "Materialize.toast('#{msg}', 4000)" %>
    </div>
    <% end %>
  </div>

    <%= yield %>
        <footer>
          <!-- <div class="footer-copyright"> -->
            <div class="container">
              <div class="footer-content">
                <%= image_tag "logo-hc-thumb-02.png", class: "logo-thumb" %>
                <a class="right" href="/contact">CONTACT</a>
              </div>
            </div>
          <!-- </div> -->
        </footer>
  </body>
</html>
